<a href="https://colab.research.google.com/github/complyservice/Data-science/blob/main/NBA_date.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sn 
%matplotlib inline

In [15]:
df = pd.read_csv('/content/teams.csv')

In [16]:
df.shape

(30, 14)

In [17]:
df.head()

   LEAGUE_ID     TEAM_ID  ...      HEADCOACH  DLEAGUEAFFILIATION
0          0  1610612737  ...   Lloyd Pierce       Erie Bayhawks
1          0  1610612738  ...   Brad Stevens     Maine Red Claws
2          0  1610612740  ...   Alvin Gentry        No Affiliate
3          0  1610612741  ...     Jim Boylen    Windy City Bulls
4          0  1610612742  ...  Rick Carlisle       Texas Legends

[5 rows x 14 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   LEAGUE_ID           30 non-null     int64
 1   TEAM_ID             30 non-null     int64
 2   MIN_YEAR            30 non-null     int64
 3   MAX_YEAR            30 non-null     int64
 4   ABBREVIATION        30 non-null     object
 5   NICKNAME            30 non-null     object
 6   YEARFOUNDED         30 non-null     int64
 7   CITY                30 non-null     object
 8   ARENA               30 non-null     object
 9   ARENACAPACITY       26 non-null     float64
 10  OWNER               30 non-null     object
 11  GENERALMANAGER      30 non-null     object
 12  HEADCOACH           30 non-null     object
 13  DLEAGUEAFFILIATION  30 non-null     object
dtypes: float64(1), int64(5), object(8)
memory usage: 3.4+ KB

In [19]:
df.describe()

       LEAGUE_ID       TEAM_ID  ...  YEARFOUNDED  ARENACAPACITY
count       30.0  3.000000e+01  ...    30.000000      26.000000
mean         0.0  1.610613e+09  ...  1969.700000   18553.307692
std          0.0  8.803408e+00  ...    16.698441    3916.923362
min          0.0  1.610613e+09  ...  1946.000000       0.000000
25%          0.0  1.610613e+09  ...  1952.000000   18641.500000
50%          0.0  1.610613e+09  ...  1970.000000   19131.000000
75%          0.0  1.610613e+09  ...  1979.000000   19790.750000
max          0.0  1.610613e+09  ...  2002.000000   21711.000000

[8 rows x 6 columns]

In [20]:
df.isnull().sum()

LEAGUE_ID             0
TEAM_ID               0
MIN_YEAR              0
MAX_YEAR              0
ABBREVIATION          0
NICKNAME              0
YEARFOUNDED           0
CITY                  0
ARENA                 0
ARENACAPACITY         4
OWNER                 0
GENERALMANAGER        0
HEADCOACH             0
DLEAGUEAFFILIATION    0
dtype: int64